<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Farmacia BlueEdtech - Módulo 3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>



        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">                               
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="btn btn-outline-dark">
                            <a class="btn btn-outline-light" asp-controller="Remedio" asp-action="Home">Home</a>
                        </li>
                        <li class="btn btn-outline-dark">
                            <a class="btn btn-outline-light" asp-controller="Remedio" asp-action="Index">Remédios</a>
                        </li>
                        <li class="btn btn-outline-dark">
                            <a class="btn btn-outline-light" asp-controller="Pedido" asp-action="Index">Pedidos</a>
                        </li>
                        <li class="btn btn-outline-dark">
                            <a class="btn btn-outline-light" asp-controller="Remedio" asp-action="Sobre">Sobre</a>
                        </li>
                    </ul>
                </div>
                    <div class="navbar">
                        <form class="d-flex" asp-controller="Remedio" asp-action="Index">
                            <input type="text" name="id" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input width="100" class="btn btn-outline-light" type="submit" value="Procurar por Remédio" />
                        </form>
                    </div>
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Farmacia BlueEdtech - Módulo 3 - <a href="https://www.linkedin.com/in/thiago-le%C3%A3o-62988784/" target="_blank">Linkedin</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
