@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="btn btn-outline-dark">
        <a class="btn btn-outline-light" asp-controller="Pedido" asp-action="Index">Pedidos</a>
    </li>
}